aiohttp==3.9.3
aiomysql==0.2.0
aiosignal==1.3.1
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyio==4.3.0
attrs==23.2.0
bcrypt==4.1.2
black==24.2.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorlog==6.8.2
cryptography==42.0.5
dataclasses-json==0.6.4
dill==0.3.8
distro==1.9.0
fastapi==0.110.0
frozenlist==1.4.1
graphviz==0.20.1
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.4
httptools==0.6.1
httpx==0.27.0
hydra-core==1.3.2
idna==3.6
imageio==2.34.0
imageio-ffmpeg==0.4.9
jsonpatch==1.33
jsonpointer==2.4
langchain==0.1.11
langchain-community==0.0.27
langchain-core==0.1.30
langchain-text-splitters==0.0.1
langsmith==0.1.23
lxml==5.1.0
Markdown==3.5.2
marshmallow==3.21.1
multidict==6.0.5
mypy-extensions==1.0.0
mysqlclient==2.2.4
nest-asyncio==1.6.0
nodejs==0.1.1
npm==0.1.1
numpy==1.26.4
omegaconf==2.3.0
openai==1.13.3
optional-django==0.1.0
orjson==3.9.15
packaging==23.2
pandas==2.2.1
pathspec==0.12.1
pillow==10.2.0
platformdirs==4.2.0
psutil==5.9.8
pycparser==2.21
pydantic==2.6.3
pydantic_core==2.16.3
PyJWT==2.8.0
PyMySQL==1.1.0
python-dateutil==2.9.0.post0
python-docx==1.1.0
python-dotenv==1.0.1
python-multipart==0.0.9
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.28
starlette==0.36.3
tenacity==8.2.3
tqdm==4.66.2
typing-inspect==0.9.0
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
uvicorn==0.27.1
uvloop==0.19.0
watchfiles==0.21.0
websockets==12.0
word2number==1.1
yarl==1.9.4
